@model BankOfBIT_YZ.Models.MortgageAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MortgageAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountState.AccountStateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountState.AccountStateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MortgageRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MortgageRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amortization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amortization)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BankAccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
